<div class=" h-screen grid content-center">
  <div class="mt-10 mb-10 content-center flex flex-row items-center justify-center ">
    <form [formGroup]="loginForm" class="w-full md:w-1/3 sm:w-1/2 p-6 bg-white shadow-md">
      <mat-card class="bg-cyan-500 shadow-lg shadow-cyan-500/50 hover:shadow-cyan-500/40">
        <mat-card-title
          class="capitalize hover:uppercase text-center underline decoration-sky-600 hover:decoration-blue-400">Welcome
          Back
        </mat-card-title>
        <mat-card-subtitle class="text-center">Log in to your account</mat-card-subtitle>
        <mat-card-content class="grid grid-cols-1">

          <mat-form-field floatLabel="auto" class="w-full">
            <mat-label>Username</mat-label>
            <input id="usernameInput" class="w-full" matInput placeholder="Username" formControlName="username"
                   autocomplete="username"
                   type="username">
            <mat-error id="invalidUsernameError" *ngIf="loginForm.controls['username'].hasError('username')">
              Please enter a valid Username
            </mat-error>
            <mat-error id="requiredUsernameError" *ngIf="loginForm.controls['username'].hasError('required')">
              Username is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-full">
            <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password"
                   autocomplete="current-password">
            <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['username'].hasError('required')">
              Password is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div class=" w-full">
            <mat-slide-toggle formControlName="rememberMe">Remember my Username</mat-slide-toggle>
          </div>

        </mat-card-content>

        <mat-card-actions class="login-actions grid gap-4 grid-cols-2">
          <button mat-raised-button
                  class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                  id="login" color="primary" [disabled]="loginForm.invalid || loading"
                  (click)="onLogin()">Login
          </button>

          <button mat-button (click)="resetPassword()"
                  class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                  value="true" id="resetPassword" type="button">Reset Password
          </button>
        </mat-card-actions>

      </mat-card>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
  </div>
</div>

